FGA	(TTTC){3}(TTTTTTCT)(CTTT)+|(AAAG)+(AGAAAAAA)(GAAA){3}
D3S1358	(TCTA)(TCTG){2,3}(TCTA)+|(TAGA)+(CAGA){2,3}(TAGA)
D21S11	(TCTA)+(TCTG)+(TCTA){3}(TA)(TCTA){3}(TCA)(TCTA){2}(TCCATA)(TCTA)+
VWA	(TCTA)(TCTG){3,4}(TCTA)+|(TAGA)+(CAGA){3,4}(TAGA)
D8S1179	(TCT(G|A))+
D12S391	(AGAT)+.?.?.?(AGAT)+(AGAC)+(AGAT)?|(ATCT)?(GTCT)+(ATCT)+.?.?.?(ATCT)+
